<div id="<%= dom_id borrowing %>">
  <p>
    <strong>Member:</strong>
    <%= borrowing.member_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= borrowing.book_id %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= borrowing.paid %>
  </p>

</div>
